{% extends "base.html" %}

{% block content %}
  <div class="container my-4 position-relative">
    <h1 class="text-center">TODO List</h1>
    <a href="{% url 'tasks:task-create' %}" class="btn btn-primary position-absolute" style="right: 225px; top: 25px;">
      Create
    </a>

    <div class="row">
      {% for task in task_list %}
        <div class="col-md-8 offset-md-2">
          <div class="card my-3 shadow-sm">
            <div class="card-body">
              <h4 class="card-title font-weight-bold">
                {{ task.content }}
                {% if task.is_complete %}
                  <span class="text-success ms-2">Done</span>
                {% else %}
                  <span class="text-danger ms-2">Not done</span>
                {% endif %}
              </h4>
              <p class="card-text">Created: {{ task.created_time|date:"F j, Y" }} at {{ task.created_time|time:"H:i" }}</p>
              {% if task.deadline %}
                <p class="card-text text-danger">Deadline: {{ task.deadline|date:"F j, Y" }} at {{ task.deadline|time:"H:i" }}</p>
              {% endif %}
              <div class="d-flex align-items-center flex-wrap gap-2 mb-3">
                <p class="text-muted m-0 mr-1"># Tags:
                  {% for tag in task.tags.all %}
                    {{ tag.name }}
                  {% empty %}
                    No tags
                  {% endfor %}
                </p>

                <a href="{% url 'tasks:task-update' pk=task.id %}" class="font-weight-bold mr-2">
                  Update
                </a>

                <a href="{% url 'tasks:task-delete' pk=task.id %}" class="font-weight-bold text-danger">
                  Delete
                </a>

              </div>
            </div>
            {% if task.is_complete %}
              <a href="{% url 'tasks:toggle-task-status' pk=task.id %}" class="btn btn-secondary position-absolute" style="right: 50px; top: 75px;">
                Undo
              </a>
            {% else %}
              <a href="{% url 'tasks:toggle-task-status' pk=task.id %}" class="btn btn-success position-absolute" style="right: 50px; top: 75px;">
                Complete
              </a>
            {% endif %}
          </div>
        </div>
      {% empty %}
        <div class="col-md-8 offset-md-2 text-center">
          <p>No tasks available yet. Add a new task</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
